{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Muli:900|Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Other head elements -->
</head>
<body>
<!-- Your HTML content -->
</body>
</html>
<!-- budget_tracker/budget.html -->
<html>
<head>
    <title>Budget Tracker</title>
</head>
<body>
<h1>Budget Tracker</h1>
<form method="post" action="{% url 'budget-view' %}">
    {% csrf_token %}
    {{ budget_form.as_p }}
    <button type="submit">Save Budget</button>
</form>

<h2>Expenses</h2>
<form method="post" action="{% url 'budget-view' %}">
    {% csrf_token %}
    {{ expense_form.as_p }}
    {{ balance_form.as_p }}
    <button type="submit">Add Expense</button>
</form>

<ul>
    {% for expense in expenses %}
        <li>{{ expense.name }} - {{ expense.amount }}</li>
    {% endfor %}
</ul>
</body>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.21/vue.min.js'></script><script  src="/js/script.js"></script>
</html>
