{% extends 'main.html' %}
{% load static %}
{% block content %}


    <!-- Content Row -->
{% for user in users %}

    <div class="row">
        <div class="col mb-3">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs fw-bold text-primary text-uppercase mb-1">
                                Cash Balance Overall
                            </div>
                            <div class="h5 mb-0 text-gray-800">
                                ${{ user.cash_balance|floatformat:2 }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs fw-bold text-primary text-uppercase mb-1">
                                Cash Balance This Month
                            </div>
                            <div class="h5 mb-0 text-gray-800">
                                ${{ user.month_cash_balance|floatformat:2 }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-3">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs fw-bold text-primary text-uppercase mb-1">
                                Total Earnings
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                ${{ user.total_earnings|floatformat:2 }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-3">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs fw-bold text-success text-uppercase mb-1">
                                Total Expenses
                            </div>
                            <div class="h5 mb-0 text-gray-800">
                                ${{ user.total_expenses|floatformat:2 }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-3">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs fw-bold text-primary text-uppercase mb-1">
                                This Month Earnings
                            </div>
                            <div class="h5 mb-0 text-gray-800">
                                ${{ user.month_earnings|floatformat:2 }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-3">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs fw-bold text-success text-uppercase mb-1">
                                This Month Expenses
                            </div>
                            <div class="h5 mb-0 text-gray-800">
                                ${{ user.month_expenses|floatformat:2 }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Chart -->
    <div class="row">
        <div class="col-6">
            <div class="card shadow mb-4">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary" id="card-header">Monthly Earnings vs Monthly
                        Expenses</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <div style="width:100%;">
                            <canvas id="myChart1"></canvas>
                        </div>
                        <script>
                            window.chartColors = {
                                red: 'rgba(255, 99, 132, 0.2)',
                                blue: 'rgba(0, 0, 255, 0.2)',
                                yellow: 'rgba(255, 99, 132, 1)',
                                lightblue: 'rgba(54, 162, 235, 1)',
                                green: 'rgba(255, 206, 86, 1)',
                                purple: 'rgba(75, 192, 192, 1)',
                                orange: 'rgba(153, 102, 255, 1)',
                                darkorange:'rgba(255, 159, 64, 1)'
                                // Add other color definitions if needed
                            };
                        </script>
                        <script>
                            const ctx1 = document.getElementById('myChart1').getContext('2d');
                            const myChart1 = new window.Chart(ctx1, {
                                type: 'line',
                                data: {
                                    labels: ['{{labels.5}}', '{{labels.4}}', '{{labels.3}}', '{{labels.2}}', '{{labels.1}}', '{{labels.0}}'],
                                    datasets: [{
                                        label: '# Earnings',
                                        fill: false,
                                        data: [{{ data_earnings|join:", " }}],
                                        backgroundColor: window.chartColors.lightblue,
                                        borderColor: window.chartColors.blue,
                                        borderWidth: 1
                                    }, {
                                        label: '# Expenses',
                                        fill: false,
                                        data: [{{ data_expenses|join:", " }}],
                                        backgroundColor: window.chartColors.darkorange,
                                        borderColor: window.chartColors.darkorange,
                                        borderWidth: 1
                                    }],
                                },
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: true
                                            }
                                        }]
                                    }
                                }
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary" id="card-header">Most Spending</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <div style="width:100%;">
                            <canvas id="myChart"></canvas>
                        </div>

                        <script>
                            // Get data from back-end
                            {% block jquery %}
                                const endpoint = '/api/barchart/data/';
                                let labelsBar = [];
                                let dataBar = [];

                                $.ajax({
                                    method: 'GET',
                                    url: endpoint,
                                    success: function (data) {
                                        labelsBar = data.labels;
                                        dataBar = data.default;
                                        setChart();
                                    },
                                    error: function (error_data) {
                                        console.log("error");
                                        console.log(error_data);
                                    }
                                });

                                function setChart() {
                                    const ctx = document.getElementById('myChart').getContext('2d');
                                    const myChart = new Chart(ctx, {
                                        type: 'bar',
                                        data: {
                                            labels: labelsBar,
                                            datasets: [{
                                                label: labelsBar[0],
                                                data: dataBar,
                                                {#backgroundColor: 'rgba(255, 99, 132, 0.2)',#}
                                                backgroundColor: [
                                                        'rgba(255, 99, 132, 0.2)',
                                                        'rgba(54, 162, 235, 0.2)',
                                                        'rgba(255, 206, 86, 0.2)',
                                                        'rgba(75, 192, 192, 0.2)',
                                                        'rgba(153, 102, 255, 0.2)',
                                                        'rgba(255, 159, 64, 0.2)'
                                                    ],
                                                borderColor: window.chartColors.purple,
                                                borderWidth: 1
                                            }]
                                        },
                                        options: {
                                            scales: {
                                                yAxes: [{
                                                    ticks: {
                                                        beginAtZero: true
                                                    }
                                                }]
                                            }
                                        }
                                    });
                                }
                            {% endblock %}
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}


{% endblock %}